html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

:root {
  --primary: #ff742b;
  --secondary: #f6f6ef;
  --gray: #696969;
  --gray-light: #828282;
}

body {
  background: black;
  /* During Loading state it hides the scroll then it comes back, which creates a flickering effect. So we are keeping the scroll all the time to stop that effect. */
  overflow-y: scroll;
}
